h1 {
	font-size: 5em;
}

h3

.cover {
	font-family: 'Saira Semi Condensed', sans-serif;
	font-weight: 400;
	color: #333;
}

.lh-1 {
	line-height: 1;
}

.semi-bold {
	font-weight: 600;
}

.bold {
	font-weight: 700;
}

.saira-extra {
	font-family: 'Saira Extra Condensed', sans-serif;
}

.dark-red {
	color: #9a1111;
}

.text-link, .text-link:visited {
	color: #9a1111;
}

.text-link:hover {
	color: #790d0d;
}

i.fab, i.fab:visited {
	font-size: 3.5em;
	padding-left: .4em;
	padding-right: .4em;
	color: #333;
	transition: .4s ease;
}

i.fab.lin:hover {
	color: #0e76a8;
	transition: .4s ease;
}

i.fab.git:hover {
	color: #6e5494;
	transition: .4s ease;
}

i.fab.twt:hover {
	color: #00acee;
	transition: .4s ease;
}

i.fab.fbk:hover {
	color: #3b5998;
	transition: .4s ease;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

@media (min-width: 1600px) {

}

@media (min-width: 1900px) {

}

@media (min-width: 2500px) {

}

@media (min-width: 3800px) {

}