/*Extra small devices (portrait phones, less than 576px)*/
/*No media query since this is the default in Bootstrap*/

.dark-red { color: #963e44; }
.bold { font-weight: 700; }
.font-lg { font-size: 5em; }
.line-height-sm { line-height: .75em; }

html, body {
	background-color: #fff;
	scroll-behavior: smooth;
	color: #495057;
	height: 100%;
	/* Sticky navbar cannot have overflow hidden in parent */
}

.container {
	min-height: 100%;
}

.cover {
	font-family: 'Saira Extra Condensed', sans-serif;
}

.hr {
	border-top: 1px solid #cdcdcd;
}

.social-icons {
	width: 300px;
}

.social-icons a {
	/*display: inline-block;*/
	height: 3.5rem;
	width: 3.5rem;
	background-color: #495057;
	color: #fff !important;
	border-radius: 100%;
	text-align: center;
	font-size: 1.5rem;
	line-height: 3.5rem;
	/*margin-right: 1rem;*/
}

.social-icons a:last-child {
	margin-right: 0;
}

.social-icons a:hover {
	background-color: #963e44;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.social-icons {
		width: 400px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.hr {
		max-width: 600px;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}