@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/*Extra small devices (portrait phones, less than 576px)*/
/*No media query since this is the default in Bootstrap*/

html, body {
	background-color: #fff;
	font-family: 'Lato', sans-serif;
	scroll-behavior: smooth;
	/* Sticky navbar cannot have overflow hidden in parent */
}

section {
	width: 100vw;
	height: 100vh;
}

#h1-name {
	font-weight: 400;
	letter-spacing: 1px;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

ul.social-network li small {
	color: #000;
	font-size: 15px;
}

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}

.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}

.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}

.social-network a.icoGithub:hover {
	background-color:#000;
}

.social-network a.icoStackOverflow:hover {
	background-color:#f48024;
}

.social-network a.icoEmail:hover {
	background-color:#dd1e1e;
}

.social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #b3b3b3;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary:focus {
	border-color: #000 !important;
	border-width: 1px !important;
}

button span {
	color: #000;
	font-size: 14px;
	margin-top: 2px;
	/*line-height: 1.75em;*/
}

button i {
	color: #000;
	font-size: 20px;
	margin-top: 1px;
}

button:hover span, button:hover i {
	color: #000 !important;
}

.btn-outline-primary:hover {
	border-color: #000 !important;
	background-color: #fff !important;
	color: #000 !important;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}